.Nabvarlink{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem 3rem 2rem 3rem;
  
}
.Nabvarlink>a{
  color: white;
  margin: 0 2rem ;


}
.highlighted:focus{
    color: brown;
}
.Nabvarlink>span{
    font-size: 3rem;
    color: white;
   margin-top: -1.4rem;
}